<div class="input-group">
                    
    <span class="input-group-btn">
        <button 
          [ngClass]="btnClass" 
          (click)="emitProgress(-5)"
          type="button" 
        >
            <i class="fa fa-minus"></i>
        </button>
    </span>
    
    <!-- Una propiedad entre corchetes y parentesis [()] implica que envia o recive valores 
    de una variable o funcion del componente  ng model es una directiva de forms Module-->
    <input 
      type="number"
      class="form-control" 
      placeholder="Testeando" 
      [ngClass]="{'is-invalid': progress > 100 || progress < 0}"
      [(ngModel)]="progress"
      (ngModelChange)="onChangeProgress($event)"
    >
    
    <span class="input-group-btn">
        <button 
          [ngClass]="btnClass" 
          type="button" 
          (click)="emitProgress(+5)"
        >
            <i class="fa fa-plus"></i>
        </button>
    </span>

</div>