<div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">My User Profile</h4>
                <h6 class="card-subtitle">Ajustes</h6>
                <form class="form p-t-20" [formGroup]="formActualizar" (ngSubmit)="actualizarUsuario()">
                    <div class="form-group">
                        <label for="exampleInputuname">User Name</label>
                        <div class="input-group">
                            <div class="input-group-addon"><i class="ti-user"></i></div>
                            <input type="text" class="form-control" id="exampleInputuname" placeholder="Ingresar nuevo nombre" formControlName="nombre">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Email address</label>
                        <div class="input-group">
                            <div class="input-group-addon"><i class="ti-email"></i></div>
                            
                            <!--  [readOnly]="usuario.getGoogle" si el usuario es de google no puede modificar el email -->
                            <input 
                              type="email" 
                              class="form-control" 
                              id="exampleInputEmail1" 
                              placeholder="Ingresar nuevo email" 
                              formControlName="email"
                              autocomplete="off"
                              [readOnly]="usuario.getGoogle" 
                            > 
                        </div>
                    </div>
                   
                    <button 
                      type="submit" 
                      class="btn btn-primary waves-effect btn-block waves-light m-r-10" 
                      [disabled]="formActualizar.invalid"
                    >
                        Guardar cambios
                    </button>
              </form>
            </div>
        </div>
    </div>
    

    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Image Profile</h4>
                <h6 class="card-subtitle">Change</h6>
                
                <div class="img-container text-center">
                    <img [src]="usuario.getImagenUrl" *ngIf="!prevImg"  class="img-avatar" style="width:500px;"alt="">
                    <img [src]="prevImg"   *ngIf="prevImg" class="img-avatar" alt="">
                </div>

                <input type="file" (change)="cambiarImg($event.target.files[0])">
                <button 
                  type="button"
                  class="btn btn-primary btn-block waves-effect waves-light mt-2"
                  [disabled]="!imgUpload"
                  (click)="subirImg()"
                >
                    <i class="fa fa-save"></i> Cambiar imagen
                </button>
            </div>
        </div>
    </div>
</div>