/* You can add global styles to this file, and also import other style files */
#themecolors li, .cursor {
    cursor: pointer;
}

#google {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.img-avatar {
    width: 400px;
    height: 400px;
}

.w-100 {
    width: 100px;
}

.w-150 {
    width: 150px;
}

.profile {
    border-radius: 100%;
    width: 75px;
    height: 75px;
    margin: auto;
}