/* You can add global styles to this file, and also import other style files */
#themecolors li, .cursor {
    cursor: pointer;
}

#google {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.img-avatar {
    width: 100px;
    height: 100px;
    border-radius: 10px;
}

.img-avatar-2 {
    width: 60px;
    height: 60px;
    border-radius: 10px;
}

.w-100 {
    width: 100px !important;
}

.w-150 {
    width: 150px;
}

.profile {
    border-radius: 100%;
    width: 75px;
    height: 75px;
    margin: auto;
}